//colors
$backgroundTopMenu: rgba(0, 0, 0, 0.92);
$primaryLight: #f5f5f7;
$backgroundLight: #fbfbfd;
$primaryDark: #1d1d1f;
$secondary: #86868b;
$secondaryDark: #515154;
$link: #06c;
$linkLight: #2997ff;
$dark: #000;
$light: #fff;

//fonts
$itemMenuFont: "SF Pro Text Regular", "Helvetica", "Arial", sans-serif;
$headline: "SF Pro Display Semibold", "Helvetica", "Arial", sans-serif;
$subhead: "SF Pro Display Regular", "Helvetica", "Arial", sans-serif;
