footer {
	background-color: $primaryLight;
	min-width: 320px;
	font-size: 12px;
	font-family: $SFProTextRegular;
	color: $primaryDark;
	margin-top: 1em;

	.visuallyhidden {
		visibility: hidden;
		position: absolute;
	}

	.bold {
		font-weight: bold;
	}

	.underline {
		text-decoration: underline;
	}

	ul {
		border-bottom: 1px solid #d2d2d7;
		list-style: none;
		padding: 0 0 1.8em;
		margin: 0 auto;

		li {
			padding-bottom: 0.8em;
		}
	}

	a {
		text-decoration: none;
		color: $secondaryDark;
	}

	.notes {
		color: $secondary;
		padding: 1.2em;
		max-width: 980px;
		margin: 0 auto;
		line-height: 1.33337;

		@media (min-width: 720px) {
			padding: 1.8em;
		}
	}
}
